.shopCategory {
  width: 100%;
}
.shopByCategoryHeading {
  font-size: 28px;
  font-family: "Proxima Nova", proxima-nova, sans-serif;
  font-weight: 600;
  color: #222222;
  margin: 36px auto;
  text-transform: none;
  text-align: center;
}
